*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    background: rgb(64, 61, 54);
    position: relative;
}
nav{
   padding: 2% 6%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
   width: 100px;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   display: inline-block;
   list-style: none;
   position: relative;
   padding: 8px 12px; 
}
.nav-links ul li a{
   text-decoration: none;
   color: white;
   padding: 10px;
  
}

section .container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   box-sizing: border-box;
   padding: 70px;
}
section .container .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em rgb(64, 61, 54),
               -0.5em -0.5em 1em rgb(64, 61, 54);
   border-radius: 20px;
}
section .container .card1
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em rgb(64, 61, 54),
               -0.5em -0.5em 1em rgb(64, 61, 54);
   border-radius: 20px;
}
section .container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
section .container .card1 .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
section .container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
section .container .card1 .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
section img
{
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
section .container .card .content .contentBx h4
{
   color: #D5A021;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
section .container .card1 .content .contentBx h4
{
   color: #D5A021;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
section .container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
section .container .card1 .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
section .container .card .content .sci
{
   margin-top: 20px;
}
section .container .card1 .content .sci
{
   margin-top: 20px;
}
section .container .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
section .container .card1 .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
section .container .card .content .sci a:hover
{
   color: #D5A021;
}
section .container .card1 .content .sci a:hover
{
   color: #D5A021;
}
nav .fa{
   display: none;
}
.navbar{
    background: rgb(64, 61, 54);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 8px;
}
.logo{
    width: 80px;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_items{
    height: 80px;
}
.navbar_links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  #D5A021;
    color: white;
}
.button:hover{
    background: #179299;
    transition: all 0.3s ease;
}
.navbar_links{
    color: white;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1300px){
    body{
        overflow-y: scroll;
    }
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
.navbar_menu.active{
        background: rgb(64, 61, 54);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left:25px;

    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transition: translate(5%, 20%);
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
